body{
    background-color: rgb(182, 177, 172);
    font-family: sans-serif;
    margin: auto;
    

}


/* Header */
header{
    background-image: url(Contents/imagens/bg-3.jpg);
    height: 400px;
    background-size: cover;
    background-position: center;
    margin: auto;


}

.header{
    text-align: right;
    margin-top: 30px;
    padding-top: 40px;
    margin: 20px;

}
.header a { background-color: rgba(0, 0, 0, 0.507);
  padding: 10px 15px;
  border: white 1.5px solid;
  border-radius: 25px;
  color: white;
  -webkit-text-stroke: 0.3px black;
  text-decoration: none;
  }

.header a:hover{
    background-color: rgba(0, 0, 0, 0.274);
}

h1{
    text-align: center;
    color: white;
    border-color: black;
    -webkit-text-stroke: 0.8px black;
    font-size: 50px;
    text-shadow: 5px 5px 5px black;
}
.start{
    text-align: center;
    background-color: rgba(0, 0, 0, 0.507);
    margin: auto;
    width: 500px;
    padding: 10px;
    border-bottom: solid white;
    color: white;
    -webkit-text-stroke: 0.3px black;
    
}
/* fim Header */

/*main */

main{
    
    margin: auto;
    max-width: 800px;
    min-width: 400px;
}

section{
    background-color: white;
    border-radius: 5px;
    padding: 1px 20px 20px 20px;
    margin: 15px;
    
}

h2{
    background-color: rgba(12, 4, 4, 0.089);
    padding: 5px;
    border-bottom: solid rgba(0, 0, 0, 0.219);
    
}
a{
    background-color: rgba(0, 0, 0, 0.315);
    padding: 10px;
    color: blue;
}

footer{
    text-align: center;
    background-color: gray;
    padding: 2px;
}





