.Nome{
    font-size: 60px;
    text-align: center;
    background-color: rgba(162, 154, 233, 0.651);
    border-radius: 20px;
    color: #090174;
}
h1{
    background-color: rgba(128, 128, 128, 0.658);
    padding: 10px;
    border-bottom: 2px solid rgb(2, 2, 95);
    color: #090174;
}
h2{
    font-style: normal;
}

b{
    color: #3324fd;
}
.link{
    text-align: right;
}
.link button{
    width: 120px;
    height: 120px;
    font-size: larger;
    background-color: rgba(162, 154, 233, 0.651);
    color: blue;
    text-decoration: underline;
    text-align: center;
}
 .link button:hover{
    background-color: #2980b9
 }